# Dependencies
/node_modules

# Build-related
/dist
/functions/lib

# Firebase
.firebase
firebase-debug.log

# Environment variables
.env
.env.*
!/.env.example

# Service account keys
service-account-key.json

# Other
.DS_Store
npm-debug.log

# Drizzle
drizzle/

# Stripe
stripe.tar.gz

# Logs
ui-debug.log