rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all users
    match /{allPaths=**} {
      allow read;
    }

    // Allow write access only to authenticated users
    match /users/{userId}/{allPaths=**} {
      allow write: if request.auth.uid == userId;
    }
  }
}